@import "../Variables/Layout.scss";

.BoutonAccueil {
    pointer-events: all;
    margin: 2rem;
    z-index: 999;
    pointer-events: all;
    img {
        @media screen and (min-width: $layout-desktop) {
            width: 150px;
        }
        @media screen and (min-width: $layout-tablette) {
            width: 100px;
        }
        width: 90px;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(1px 1px 1px #222);
    }
}