.Burger {
    margin: 1rem;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    img {
        width: 150px;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(1px 1px 1px #222);
    }
}