@import "../Variables/Couleurs.scss";
@import "../Variables/Layout.scss";

.Contacts {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    bottom: 1rem;
    z-index: 10;
    @media screen and (min-width: $layout-tablette) {
        transform: unset;
        right: 1rem;
    }

}