@import '../Variables.scss';

.Navigation {
    position: fixed;
    background-color: $base-color;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "."
        "liens"
        "contacts"
    ;
    transition: 0.5s;
    &.open {
        translate: 0%;
    }
    &.closed {
        translate: -100%;
    }
    @media screen and (min-width: 728px)
    {
        width: 60vw;
    }
    .curve {
        grid-area: contacts;
    }
}
