@import '../Variables/Couleurs.scss';
@import '../Variables/Layout.scss';
@import '../Variables/Formes.scss';

.Navigation {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;

    nav {
        z-index: inherit;
        cursor: default;
        overflow: hidden;
        position: relative;
        background-color: $couleur-quaternaire;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "."
            "liens"
            "contacts"
        ;
        transition: 0.5s;
        
        @media screen and (min-width: $layout-desktop)
        {
            width: 60vw;
            .Ronds { 
                position: absolute;
                width: 600px;
                height: 600px;
                top: -200px;
                right: -200px;
            }
        }
        .curve {
            grid-area: contacts;
            position: relative;
            z-index: -10;
            background-color: $couleur-primaire;
            clip-path: $vagueAccueil;
            transform: rotateX(180deg);
            width: 200%;
        }
        .Ronds { 
            position: absolute;
            width: 400px;
            height: 400px;
            top: -150px;
            right: -150px;
        }
    }
    
    &.open {
        pointer-events: all;
        background-color: rgba($color: #000000, $alpha: 0.8);
        nav {
            transform: translateX(0%);
            box-shadow: 0px 10px 50px 0px rgba($color: #000000, $alpha: 1);
        }
        
    }
    &.closed {
        pointer-events: none;
        background-color: rgba($color: #000000, $alpha: 0);
        nav {
            transform: translateX(-100%);
            box-shadow: 0px 10px 50px 10px rgba($color: #000000, $alpha: 0);
        }
    } 
}
