@import "../../../Variables/Layout.scss";

.AvenirAccueil {
    display: flex;
    flex-direction: column;
    background-color: #1C5F78;
    .contenuAvenir{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .blockCartes{
            margin: 0rem 2rem;
            display: flex;
            flex-flow: row nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            gap: 2rem;
            width: 100vw;
            scroll-behavior: smooth;
            padding: 0 2rem;
            justify-content: flex-start;
            @media screen and (min-width: $layout-tablette) {
                justify-content: flex-start;
                max-width: 1000px;
            }
            @media screen and (min-width: $layout-desktop) {
                max-width: unset;
                justify-content: center;
            }
            @media screen and (min-width: $layout-gigaScreen) {
                justify-content: center;
            }

            &::-webkit-scrollbar {
                display: none !important;
            }
            
            .carteAvenir{
                min-width: 80vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                @media screen and (min-width: $layout-tablette) {
                    justify-content: flex-start;
                    min-width: 50%;
                }
                @media screen and (min-width: $layout-desktop) {
                    min-width: 30%;
                }
                @media screen and (min-width: $layout-gigaScreen) {
                    min-width: 400px;
                    width: 400px;
                }
                .carteBGAvenir{
                    width: 95%;
                    background-color: $couleur-quinaire;
                    border-radius: $coin-ronds;
                    min-height: 300px;
                    transition: 0.2s ease-in-out;
                    transform: translateY(50px);
                    z-index: 1;
                    p{
                        margin: 1rem;
                        padding: 5px;
                    }
                    &:hover{
                        transform: translateY(5px);
                        box-shadow: 0 0 3rem 5px rgba(0, 0, 0, .3);
                    }
                }
                .carteTitre{
                    z-index: 2;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 125px;
                    border-radius: $coin-ronds;
                    background-color: $couleur-quaternaire;
                    text-align: center;
                    font-size: 2em;
                    transition: 0.2s ease-in-out;
                    font-family: Roboto, sans-serif;
                }
            }
            
        }
        .FlechesCarousel {
            @media screen and (min-width: $layout-desktop) {
                display: none;
            }
        }
        .Bouton {
            @media screen and (min-width: $layout-desktop) {
                margin: 2rem;
            }
        }
    }
}