.carteProjet{
    width: 325px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
    h4{
        height: 10%;
    }
    img{
        width: 100%;
        height: auto;
    }
}