.groupeCarteProjet{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    
    .carteProjet{
        width: 400px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 50px 50px 0 0;
        background-color: #F69000;
        margin: 35px;
        .titreProjet{
            width: 100%;
            height: 100px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4{
                font-size: 2em;
                margin: auto;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        .descProjet{
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                height: 33%;
                padding: 20px 5% 0 5%;
                text-align: center;
                margin: 0;
                &:first-of-type{
                    font-size: 1.5em;
                }
                &:nth-of-type(2){
                    background-color: #d47c00;
                }
                &:nth-of-type(3){
                    
                }
            }
        }
    }
    
    .ExpanderSection{
        width: calc(100vw - 50%);
        height: 50vh;
        .infoProjet{
            height: 100%;
            width: 100%;
            background-color: #eee;
            padding: 20px 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .carouselProjet{
                width: 50%;
                height: 100%;
                background-color: aqua;
            }
            .rightSection{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                p{
                    width: 65%;
                    height: 100%;
                    margin: 0 25px;
                    padding: 10px;
                    background-color: rgb(9, 41, 128)
                }
                .coursReliesProjet{
                    width: 35%;
                    text-align: center;
                    .coursProjetLien{
                        height: 25%;
                        width: 100%;
                        background-color: rgb(7, 99, 161);
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}
    


