@import "../Variables/Couleurs.scss";

.cartes{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    gap: 2rem;
    width: 100vw;
    scroll-behavior: smooth;
    padding: 0 20px;
    @media screen and (max-width: 1958px) {
            justify-content: flex-start;
    }

    &::-webkit-scrollbar {
        display: none;
      }
    .carteSessions{
        background-color: $couleur-tierce;
        color: white;
        min-width: 300px;
        max-width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        h3{
            text-align: center;
            height: 15%;
            padding: 10% 0 0 0;
        }
        .listeCours{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 80%;
            
            .cours{
                display: flex;
                align-items: center;
                height: 20%;
                p{
                    width: 80%;
                    margin: 0 0 0 25px;
                    padding: 0 0 10px 0;
                    background: linear-gradient(to right, transparent 0%, transparent 50%, transparent 50%, transparent 100%), linear-gradient(to right, white 0%, white 50%, transparent 50%, transparent 100%);
                    background-size: 200% 2px;
                    background-position: center top, right bottom;
                    background-repeat: no-repeat;
                    transition: 0.2s ease-in-out;
                    word-wrap: normal;
                    white-space: normal;
                    overflow: hidden;
                    &:hover{
                        background-position: center top, left bottom;
                    }
                }
            }
        }
    }
}