@import "../Variables/Layout.scss";
.Dialog {
    z-index: 999;
    display: none;
    @media screen and (min-width: $layout-desktop) {
        display: block;
        transition: background-color 0.5s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        cursor: pointer;
        .Dialog-contenu {
            transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
            cursor: default;
            border-radius: 5px;
            position: fixed;
            width: $width-dialog;
            height: $height-dialog;
            background-color: rgb(255, 255, 255);
            opacity: 0;
            top: calc(100vh / 2 - #{$height-dialog} / 2);
            left: calc(100vw / 2 - #{$width-dialog} / 2);
        }
        &[active="true"]
        {
            background-color: rgba(0, 0, 0, 0.4);
            .Dialog-contenu {
                opacity: 1;
                scale: 1;
            }
        }
        &[active="false"]
        {
            background-color: rgba(240, 0, 0, 0);
            pointer-events: none;
            .Dialog-contenu {
                opacity: 0;
                scale: 0.5;
                pointer-events: none;
            }
        }
    }
}