@import "../Variables/Couleurs.scss";
.Filtre {
    position: relative;
    overflow: visible;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-flow: column;
    .select {
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        background-color: $base-color;
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        p {
            margin: 0;
            font-size: 1rem;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: calc(50% - 1rem / 2);
        }
        &.filtered {
            p {
                font-size: 1rem;
                top: -25px;
                color: black;
            }
        }
        .filtered-items {
            display: flex;
            flex-flow: row wrap;
            gap: 4px;
            width: 100%;
            .filtered-item {
                cursor: pointer;
                color: black;
                font-size: 0.8rem;
                border: 1px solid $couleur-quaternaire;
                background-color: $couleur-sixte;
                padding: 0.3rem;
                border-radius: 5px;
            }
        }
        
    }
    .filter-options {
        margin: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        top: 100%;
        opacity: 0;
        &.open {
            pointer-events: all;
            opacity: 1;
            width: 200px;
            height: 100%;
            padding: 0;
        }
        width: 200px;
        height: 0;
    }
    .arrow {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: black;
    }
}