@import "../Variables/Layout.scss";

.FlechesCarousel {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    @media screen and (min-width: $layout-gigaScreen) {
        display: none;
    }
    .flecheCarousel {
        transition: background-color 0.2s ease-out;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .fleche {
            width: 50%;
            height: 50%;
            background-color: white;
            clip-path: polygon(50% 10%, 0 80%, 100% 80%);
            
        }
        &:first-child {
            .fleche {
                margin-right: 2px;
                transform: rotate(270deg);
            }
        }
        &:last-child {
            .fleche {
                margin-left: 2px;
                transform: rotate(90deg);
            }
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}