@import '../Variables/Couleurs.scss';
@import '../Variables/Layout.scss';

footer{
    height: 475px;
    width: 100%;
    background-color: $footer-color;
    color: $off-white;
    position: relative;
    overflow: hidden;
    .footerContent {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        h4{
            margin: 0.5rem 1rem 0.5rem 0;
            font-size: 1.5rem;
            @media screen and (min-width: $layout-tablette) {
                font-size: 2rem;
            }
        }
        .footerLeft{
           
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 400px;

            .PageLinks{
                p{
                    font-size: 1.5rem;
                    margin: 10px 0;
                }
            }
        }
        .separationLine{
            width: 4px;
            max-height: 500px;
            min-height: 300px;
            background-color: white;
        }
        .footerRight{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 400px;
            .socialMedia{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                .Contacts{
                    display: flex;
                    position: unset;
                    flex-flow: row wrap;
                    margin-top: 12px;
                    transform: unset;
                }
            }
        }
    }
}