@import "../Variables/Layout.scss";

.ListeProgrammesUni
{
    // border: 3px solid orange;
    padding: 1rem;
    display: flex;
    flex-flow: column;

    @media screen and (min-width: $layout-tablette)
    {
        gap: 1rem;
        flex-flow: row wrap;
        justify-content: center;
    }
}