@import "../Variables/Layout.scss";

.ListeCarrieres
{
    // border: 3px solid green;
    width: 80%;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}