@import "../Variables/Layout.scss";
@import "../Variables/Polices.scss";

.TitreSection
{
    margin: 0;
    font-size: $font-size-titre-page;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titre-conteneur
    {
        border-bottom: 1px solid white;
    }

    @media screen and (min-width: $layout-tablette)
    {
        font-size: $font-size-titre-page;
    }
}