@import "../Variables/Layout.scss";

.UneCarriere
{
    // border: 1px solid red;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 40%;

    &:nth-child(even)
    {
        position: relative;
        float: right;
    }
    
    .nom-emploi
    {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: start;
    }

    .nom-emploi + p
    {
        margin: 0.5rem 0 1rem 1.5rem;
        font-weight: 100;
    }

    @media screen and (min-width: $layout-tablette)
    {
        max-width: 50%;
        // margin: 0 2.5%;
    }

    @media screen and (min-width: $layout-desktop)
    {
        .nom-emploi + p
        {
            font-weight: 100;
        }
    }
}