@import "../Variables/Layout.scss";

.ListeCours
{
    margin: 1rem;
    .sessionTitre
    {
        display: flex;
        flex-flow: row;
        align-items: center;
        
        .fleche
        {
            width: 10px;
            height: 10px;
            background-color: black;
        }
    }

    .lesCours
    {
        gap: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 600px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        @media screen and (min-width: $layout-desktop) {
            padding: 0 50px;
            gap: $gap-grille-cours;
        }
        &::-webkit-scrollbar{
            display: none
        }
    }

    .FlechesCarousel {
        display: flex;

        @media screen and (min-width: $layout-gigaScreen) {
            // display: none;
        }
    }
}