@import "../Variables/Layout.scss";
@import "../Variables/Couleurs.scss";
.ListeSessions {
    @media screen and (min-width: $layout-desktop) {
        margin:0px 14rem;
    }
    @media screen and (min-width: $layout-tablette) {
        margin:0px 10rem;
    }
    min-height: 70vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    .filtre-impossible {
        margin: 0 2rem;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: $couleur-quinaire;
            font-size: 2.5rem;
        }
    }
}