@import "../Variables/Layout.scss";

.ListeCours {
    .sessionTitre {
        display: flex;
        flex-flow: row;
        align-items: center;
        .fleche {
            width: 10px;
            height: 10px;
            background-color: black;
        }
    }

        .lesCours {
            gap: $gap-grille-cours;
            display: flex;
            flex-flow: row wrap;
        }
    
}