@import "../Variables/Layout.scss";

.ListeCours
{
    margin: 1rem;
    
    .sessionTitre
    {
        display: flex;
        flex-flow: row;
        align-items: center;
        
        .fleche
        {
            width: 10px;
            height: 10px;
            background-color: black;
        }
    }

    .lesCours
    {
        gap: $gap-grille-cours;
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        
        &::-webkit-scrollbar{
            display: none
        }
    }
}