@import "../Variables/Couleurs.scss";
@import "../Variables/Formes.scss";

.PageCours
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    height: 100%;
    padding-bottom: 3em;

    #vague1
    {
        top: 0;
        width: 300vw;
        height: 20%;
        position: absolute;
        clip-path: $vague1-social-mobile;
        background-color: $couleur-primaire;
    }

    h1
    {
        font-size: 3em;
        margin: 0.6em;
        color: $off-white;
    }
}