@import "../Variables/Couleurs.scss";
@import "../Variables/Polices.scss";

.PageSocial
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sectionSocial
    {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & ~ div
        {
            height: 100vh;
        }

        h2
        {
            height: 15%;
            padding: 2%;
            color: $off-white;
            font-size: $font-size-titre;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }


        &:first-of-type
        {
            background-color: $base-color;
    
            h2
            {
                padding-left: 30%;

                span
                {
                    padding-right: 55%;
                }
            }

            div.contenuEvents
            {
                width: 75vw;
                height: 95%;
                margin-bottom: 2%;
                display: flex;
                align-items: center;

                p.descEvents
                {
                    width: 60%;
                    height: 80%;
                    margin: 1%;
                    display: flex;
                    align-items: center;
                    font-size: $font-size-desc-social-events;
                    color: $off-white;
                }

                img
                {
                    width: 16vw;
                    height: 9vh;
                }

                div.sideEvents
                {
                    width: 40%;
                    height: 95%;
                    margin-right: 1%;
                    margin-left: 1%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & > div
                    {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p
                        {
                            text-align: center;
                            font-size: $font-size-desc-social-side-events;
                            color: $off-white;
                        }
                    }
                }
            }
        }


        &:nth-of-type(2)
        {
            background-color: $couleur-primaire;

            h2
            {
                padding-right: 45%;
            }

            .contenuCommunaute
            {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 90%;
                height: 70%;
                padding: 2%;
                margin-bottom: 2%;

                .carteCommunaute
                {
                    // width: 300px;
                    width: 100%;
                    height: 100%;
                    margin: 1%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;

                    .carteBG
                    {
                        width: 95%;
                        height: 100%;
                        border-radius: 30px;
                        background-color: $base-color;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        transition: 0.2s ease-in-out;

                        p
                        {
                            font-size: $font-size-desc-social-communaute;
                            color: $couleur-quinaire;
                            padding: 5%;
                            margin-bottom: 10vh;
                        }

                        &:hover
                        {
                            transform: translateY(-3vh);

                            & + .carteTitre
                            {
                                transform: translateY(-50px);
                            }
                        }
                    }

                    .carteTitre
                    {
                        width: 100%;
                        height: 30%;
                        transform: translateY(-50px);
                        transition: 0.2s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: $couleur-bouton-jaune;
                        font-size: $font-size-desc-social-maisonneuve-titre;
                    }
                }
            }
        }


        &:last-of-type
        {
            background-color: $base-color;

            h2
            {
                padding-left: 45%;
            }

            .contenuMaisonneuve
            {
                width: 80%;
                height: 70%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                color: $couleur-quinaire;

                .svgPlaceholder
                {
                    width: 25%;
                    height: 75%;
                    margin: 0 2.5%;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid white;
                }
                
                .sideContent
                {
                    width: 50%;
                    height: 90%;
                    margin: 2.5%;
                    margin-left: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    div
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin: 0 5%;

                        & > p
                        {
                            font-size: $font-size-desc-social-maisonneuve;
                            // padding: 5%;
                        }

                        button
                        {
                            width: 5rem;
                            margin-right: 15%;
                        }
                    }
                }
            }
        }
    }
}