@import "../Variables/Couleurs.scss";
@import "../Variables/Layout.scss";

.PageAccueil{
    overflow: hidden;
    position: relative;
    z-index: 1;
    .titleSections{
        height: 8%;
        display: flex;
        justify-content: flex-end;
        margin: 0 clamp(10%, 15vw, 5%) 0 0;
        h2{
            display: flex;
            flex-direction: column;
            font-size: 2.5em;
            color: $off-white;
            b{
                margin-left: 15px;
            }
        }
    }
    
    &>section{
        min-height: 70vh;
        padding: 2rem 0;
        width: 100vw;
        &:nth-of-type(4){
            height: auto;
        }
    }
    > .block:nth-of-type(odd) {
        .titleSections {
            margin: 0 0 0 clamp(10%, 15vw, 5%);
            justify-content: flex-start;
        }
    }
    
    
    .block1{
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        #accueilBGVideo{
            position: fixed;
            top: -50;
            left: -50;
            z-index: -20;
            filter: blur(10px);
        }
        .mainTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 400px;
            background-color: rgba(36, 142, 166, 0.253);
            backdrop-filter: blur(50px);
            box-shadow: 0 0 8rem 1rem rgba(0, 0, 0, .5); 
            color: white;
            h1{
                font-size: clamp(10px, 4rem, 50px);
                text-shadow: 0 0 10em 10em black;
                @media screen and (max-width: $layout-tablette){
                    font-size: 2.5em;
                }
            }
            h3{
                font-size: 1.2em;

                @media screen and (max-width: $layout-tablette){
                    font-size: 1em;
                }
            }
        }

        .clipPath{
            z-index: -1;
            
            width: 150%;
            height: 150px;
            background-color: $couleur-secondaire;
            position: absolute;
            bottom: -3rem;
            left: 0;
            clip-path: ellipse(50% 100% at 35% 100%);
            @media screen and (min-width: $layout-tablette) {
                width: 110%;
                clip-path: ellipse(50% 100% at 45% 100%);
            }
        }
    }

    .block2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #1C5F78;
        .carouselSessions{
            width: 100vw;
            height: 92%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .navCarousel{
                width: 200px;
                height: 50px;
                margin: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .flecheCarousel{
                    width: 50px;
                    height: 100%;
                    background-color: #303030;
                    cursor: pointer;
                }
            }
            .Bouton {
                @media screen and (min-width: $layout-gigaScreen) {
                    margin: 2rem;
                }
            }
        }
    }

    .block3{
        display: flex;
        flex-direction: column;
        background-color: #1C5F78;
        .contenuAvenir{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .blockCartes{
                margin: 2rem 2rem;
                display: flex;
                flex-flow: row nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                gap: 2rem;
                width: 100vw;
                scroll-behavior: smooth;
                padding: 0 2rem;
                justify-content: flex-start;
                @media screen and (min-width: $layout-tablette) {
                    justify-content: flex-start;
                    max-width: 1000px;
                }
                @media screen and (min-width: $layout-desktop) {
                    max-width: unset;
                    justify-content: center;
                }
                @media screen and (min-width: $layout-gigaScreen) {
                    justify-content: center;
                }

                &::-webkit-scrollbar {
                    display: none !important;
                }
                
                .carteAvenir{
                    min-width: 80vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    @media screen and (min-width: $layout-tablette) {
                        justify-content: flex-start;
                        min-width: 50%;
                    }
                    @media screen and (min-width: $layout-desktop) {
                        min-width: 30%;
                    }
                    @media screen and (min-width: $layout-gigaScreen) {
                        min-width: 400px;
                        width: 400px;
                    }
                    .carteBGAvenir{
                        width: 95%;
                        background-color: $couleur-quinaire;
                        border-radius: $coin-ronds;
                        min-height: 300px;
                        transition: 0.2s ease-in-out;
                        transform: translateY(50px);
                        z-index: 1;
                        p{
                            margin: 1rem;
                            padding: 5px;
                        }
                        &:hover{
                            transform: translateY(5px);
                            box-shadow: 0 0 3rem 5px rgba(0, 0, 0, .3);
                        }
                    }
                    .carteTitre{
                        z-index: 2;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 125px;
                        border-radius: $coin-ronds;
                        background-color: $couleur-quaternaire;
                        text-align: center;
                        font-size: 2em;
                        transition: 0.2s ease-in-out;
                        font-family: Roboto, sans-serif;
                    }
                }
                
            }
            .FlechesCarousel {
                @media screen and (min-width: $layout-desktop) {
                    display: none;
                }
            }
            .Bouton {
                @media screen and (min-width: $layout-gigaScreen) {
                    margin: 2rem;
                }
            }
        }
    }
    .contenantPerso1{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 2;
        
        .Perso1
        {
            height: 250px;
            position: relative;
            bottom: 10px;

            @media screen and (min-width: $layout-tablette)
            {
                &
                {
                    height: 350px;
                    bottom: 10px;
                }
            }
        }

        @media screen and (max-width: $layout-tablette)
        {
            .Perso1
            {
                
            }
        }
    }
    
            
    > .transition {
        width: 100vw;
        padding: 0;
        position: relative;
        overflow: hidden;

        .curve {
            z-index: 1;
            position: absolute;
            width:150%;
            height: 100%;
            translate: 0px -2px;
            @media screen and (min-width: $layout-tablette) {
                width: 100%;
            }
        }
    }
     > .transition:nth-of-type(1) {
        min-height: 200px;
        background-color: $couleur-tierce;
        .curve {
            background-color: $couleur-secondaire;
            clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.93%, 2% 64.73%, 3% 64.39%, 4% 63.92%, 5% 63.33%, 6% 62.62%, 7% 61.79%, 8% 60.85%, 9% 59.82%, 10% 58.70%, 11% 57.49%, 12% 56.22%, 13% 54.90%, 14% 53.53%, 15% 52.13%, 16% 50.70%, 17% 49.28%, 18% 47.86%, 19% 46.45%, 20% 45.08%, 21% 43.76%, 22% 42.49%, 23% 41.29%, 24% 40.17%, 25% 39.13%, 26% 38.20%, 27% 37.37%, 28% 36.66%, 29% 36.07%, 30% 35.60%, 31% 35.27%, 32% 35.07%, 33% 35.00%, 34% 35.07%, 35% 35.27%, 36% 35.61%, 37% 36.08%, 38% 36.68%, 39% 37.39%, 40% 38.22%, 41% 39.16%, 42% 40.20%, 43% 41.32%, 44% 42.52%, 45% 43.79%, 46% 45.12%, 47% 46.49%, 48% 47.89%, 49% 49.31%, 50% 50.74%, 51% 52.16%, 52% 53.57%, 53% 54.93%, 54% 56.26%, 55% 57.53%, 56% 58.73%, 57% 59.85%, 58% 60.88%, 59% 61.81%, 60% 62.64%, 61% 63.35%, 62% 63.94%, 63% 64.40%, 64% 64.74%, 65% 64.94%, 66% 65.00%, 67% 64.93%, 68% 64.72%, 69% 64.38%, 70% 63.91%, 71% 63.31%, 72% 62.60%, 73% 61.76%, 74% 60.83%, 75% 59.79%, 76% 58.67%, 77% 57.46%, 78% 56.19%, 79% 54.86%, 80% 53.49%, 81% 52.09%, 82% 50.67%, 83% 49.24%, 84% 47.82%, 85% 46.42%, 86% 45.05%, 87% 43.72%, 88% 42.46%, 89% 41.26%, 90% 40.14%, 91% 39.11%, 92% 38.18%, 93% 37.35%, 94% 36.64%, 95% 36.05%, 96% 35.59%, 97% 35.26%, 98% 35.06%, 99% 35.00%, 100% 35.07%);
        }
    }
    > .transition:nth-of-type(2) {
        min-height: 200px;
        background-color: $couleur-tierce;
        .curve {
            background-color: $couleur-secondaire;
            rotate: y 180deg;
            clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.93%, 2% 64.73%, 3% 64.39%, 4% 63.92%, 5% 63.33%, 6% 62.62%, 7% 61.79%, 8% 60.85%, 9% 59.82%, 10% 58.70%, 11% 57.49%, 12% 56.22%, 13% 54.90%, 14% 53.53%, 15% 52.13%, 16% 50.70%, 17% 49.28%, 18% 47.86%, 19% 46.45%, 20% 45.08%, 21% 43.76%, 22% 42.49%, 23% 41.29%, 24% 40.17%, 25% 39.13%, 26% 38.20%, 27% 37.37%, 28% 36.66%, 29% 36.07%, 30% 35.60%, 31% 35.27%, 32% 35.07%, 33% 35.00%, 34% 35.07%, 35% 35.27%, 36% 35.61%, 37% 36.08%, 38% 36.68%, 39% 37.39%, 40% 38.22%, 41% 39.16%, 42% 40.20%, 43% 41.32%, 44% 42.52%, 45% 43.79%, 46% 45.12%, 47% 46.49%, 48% 47.89%, 49% 49.31%, 50% 50.74%, 51% 52.16%, 52% 53.57%, 53% 54.93%, 54% 56.26%, 55% 57.53%, 56% 58.73%, 57% 59.85%, 58% 60.88%, 59% 61.81%, 60% 62.64%, 61% 63.35%, 62% 63.94%, 63% 64.40%, 64% 64.74%, 65% 64.94%, 66% 65.00%, 67% 64.93%, 68% 64.72%, 69% 64.38%, 70% 63.91%, 71% 63.31%, 72% 62.60%, 73% 61.76%, 74% 60.83%, 75% 59.79%, 76% 58.67%, 77% 57.46%, 78% 56.19%, 79% 54.86%, 80% 53.49%, 81% 52.09%, 82% 50.67%, 83% 49.24%, 84% 47.82%, 85% 46.42%, 86% 45.05%, 87% 43.72%, 88% 42.46%, 89% 41.26%, 90% 40.14%, 91% 39.11%, 92% 38.18%, 93% 37.35%, 94% 36.64%, 95% 36.05%, 96% 35.59%, 97% 35.26%, 98% 35.06%, 99% 35.00%, 100% 35.07%);
        }
    }
    > .transition:nth-of-type(3) {

        background-color: $couleur-quaternaire;

        min-height: 200px;
        .curve {
            z-index: 1;
            width: 150%;
            height: 150px;
            background-color: $couleur-tierce;

            position: absolute;
            top: 0rem;
            left: 0;
            clip-path: ellipse(50% 100% at 35% 0%);
            @media screen and (min-width: $layout-tablette) {
                width: 110%;
                clip-path: ellipse(50% 100% at 45% 0%);
            }
        }
        .background {
            position: absolute;
            z-index: -10;
            height: 100%;
            width: 100%;
            background-color: $footer-color;
            // background-color: red;
        }
    }

    .block4{
        overflow: hidden;
        background-color: $couleur-tierce;
        .titleSections{
            h2{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 250px;
                b{
                    &:nth-of-type(2){
                        margin-left: 12px;
                    }
                }
            }
        }
        .carouselCartesProjets{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            gap: 2rem;
            width: 100vw;
            scroll-behavior: smooth;
            padding: 0 20px;
            @media screen and (max-width: 1958px) {
                    justify-content: flex-start;
            }

            @media screen and (max-width: 500px) {
                padding: 0;
            }

            &::-webkit-scrollbar {
                display: none !important;
            }
        }
        .Bouton {
            margin: 0 auto;
        }
    }

    .block5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $couleur-tierce;
        .contenuSocial{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .blockSocial{
                display: flex;
                flex-direction: column;
                width: 80%;
                justify-content: center;
                align-items: center;
                height: 50vh;
                .socialSlides{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    height: 120px;
                    background-color: $couleur-quinaire;
                    .socialSlidesContent{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        padding: 0 5% 0 5%;
                        h3{
                            z-index: 4;
                            font-size: 1.2em;
                        }
                    }
                    &:nth-of-type(2){
                        
                        .socialSlidesContent{
                            flex-direction: row-reverse;
                        }
                    }
                }
                .Event{
                    position: relative;
                    .clipPath{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(0 0, 65% 0, 55% 100%, 0 100%);
                        background: $off-white;
                        z-index: 2;
                    }
                }
                .Communaute{
                    position: relative;
                    .clipPath{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(55% 0, 100% 0, 100% 100%, 45% 100%);
                        background: $off-white;
                        z-index: 2;
                    }
                }
                .Maisonneuve{
                    position: relative;
                    .clipPath{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(0 0, 45% 0, 35% 100%, 0 100%);
                        background: $off-white;
                        z-index: 2;
                    }
                }
            }
        }

        @media screen and (max-width: $layout-tablette) {
            .contenuSocial{
                .blockSocial{
                    width: 100%;
                    .socialSlides{
                        width: 100%;
                        .clipPath{
                            display: none;
                        }

                        &:nth-of-type(2){
                            background-color: $off-white;
                        }
                    }
                }
            }
        }
    }

    .block6{
        background-color: $couleur-quaternaire;
        display: flex;
        flex-direction: column;
        .titleSections{
            height: auto;
        }
        .contenuProfs{
            height: 80%;
            display: flex;
            flex-direction: column;
            .sectionCartesRandom{
                display: flex;
                flex-flow: row nowrap;
                transition: all 0.5s ease-in-out;
                justify-content: flex-start;
                gap: 30px;
                height: 600px;
                padding: 20px;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                scroll-behavior: smooth;
                &::-webkit-scrollbar {
                    display: none;
                  }
                .CarteEnseignant{
                    display: inline-block;
                }

                @media screen and (max-width:700px) {
                    height: 400px;
                }
            }
            .FlechesCarousel {
                @media screen and (min-width: $layout-gigaScreen) {
                    display: flex;
                }
            }
            .Bouton {
                margin: 0 auto;
            }
        }
    }
}