@import "../Variables/Couleurs.scss";

.PageCours
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    height: 100%;
    padding-bottom: 3em;

    h1
    {
        font-size: 3em;
        margin: 0.6em;
        color: $off-white;
    }
}