.PageAccueil{
    &>section{
        height: 100vh;
        width: 100vw;
        &:nth-of-type(even){
            background-color: #b3b3b3;
        }
    }
    .block1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mainTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 4em;
            }
            h3{
                font-size: 1em;
            }
        }
        .mainButtons{
            display: flex;
            justify-content: space-around;
            width: 30%;
        }
    }

    .block2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .mainTitleCours{
            height: 8%;
            display: flex;
            justify-content: flex-end;
            margin: 0 clamp(10%, 15vw, 5%) 0 0;
            h2{
                display: flex;
                flex-direction: column;
                font-size: 2.5em;
                b{
                    margin-left: 15px;
                }
            }
        }
        .carouselSessions{
            height: 92%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .cartes{
                width: 150vw;
                display: flex;
                justify-content: space-around;
                flex-wrap: nowrap;
                align-items: center;
                overflow: hidden;
                .carteSessions{
                    background-color: rgb(25,69,87);
                    color: white;
                    width: 300px;
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h4{
                        text-align: center;
                        height: 15%;
                        padding: 10% 0 0 0;
                    }
                    .listeCours{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 80%;
                        .cours{
                            display: flex;
                            align-items: center;
                            height: 20%;
                            background-color: #E9C3AC;
                            p{
                                margin: 0 0 0 25px;
                            }
                        }
                    }
                }
            }
            .navCarousel{
                width: 200px;
                height: 50px;
                margin: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .flecheCarousel{
                    width: 50px;
                    height: 100%;
                    background-color: #303030;
                    &:nth-of-type(2){
                        border-radius: 50px;
                    }
                }
            }
        }
    }

    .block3{

    }

    .block4{

    }

    .block5{

    }

    .block6{

    }
}