@import "../Variables/Couleurs.scss";
@import "../Variables/Formes.scss";
@import "../Variables/Layout.scss";
@import "../Variables/Polices.scss";

.PageSocial
{
    position: relative;
    z-index: 1;
    overflow: hidden;
}