@import "../Variables/Couleurs.scss";
@import "../Variables/Layout.scss";
@import "../Variables/Polices.scss";

.UnCours
{
  z-index: 0;
  display: flex;
  flex-flow: column;
  min-width: 300px;
  max-width: 300px;
  transition: all 0.2s ease-in-out;
  color: black;
  
  .carte
  {
    overflow: hidden;
    border-radius: $coin-ronds;
    transition: all 0.15s ease-in-out;
    display: flex;
    flex-flow: column;
    // justify-content: space-between;
    justify-content: stretch;
    position: relative;
    background-color: $couleur-quinaire;
    width: 100%;
    height: 300px;

    .header
    {
      
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }

    h2
    {
      z-index: 1;
      font-size: 1.25em;
      margin: 1rem 0 0 0;
    }

    h3
    {
      z-index: 1;
      font-size: 1em;
      margin: 0 0 1rem 0;
    }

    .image-container
    {
      z-index: 1;
        height: 75%;
        width: 100%;
        background-color: $off-white;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover
    {
      transform: scale(1.02);
    }
    .curve1 {
      z-index: 1;
      position: absolute;
      width:200%;
      height: 20%;
      background-color: $couleur-primaire;
      transform: translateY(70%) translateX(-30%) rotateX(180deg);
      clip-path: polygon(100% 0%, 0% 0% , 0% 95.00%, 1% 94.98%, 2% 94.90%, 3% 94.78%, 4% 94.60%, 5% 94.38%, 6% 94.11%, 7% 93.79%, 8% 93.42%, 9% 93.01%, 10% 92.55%, 11% 92.05%, 12% 91.51%, 13% 90.92%, 14% 90.30%, 15% 89.63%, 16% 88.93%, 17% 88.20%, 18% 87.43%, 19% 86.63%, 20% 85.81%, 21% 84.95%, 22% 84.07%, 23% 83.17%, 24% 82.25%, 25% 81.31%, 26% 80.35%, 27% 79.38%, 28% 78.40%, 29% 77.41%, 30% 76.41%, 31% 75.42%, 32% 74.42%, 33% 73.42%, 34% 72.42%, 35% 71.44%, 36% 70.46%, 37% 69.49%, 38% 68.53%, 39% 67.60%, 40% 66.68%, 41% 65.78%, 42% 64.90%, 43% 64.05%, 44% 63.23%, 45% 62.44%, 46% 61.67%, 47% 60.95%, 48% 60.25%, 49% 59.60%, 50% 58.98%, 51% 58.40%, 52% 57.86%, 53% 57.37%, 54% 56.92%, 55% 56.51%, 56% 56.16%, 57% 55.84%, 58% 55.58%, 59% 55.37%, 60% 55.20%, 61% 55.08%, 62% 55.02%, 63% 55.00%, 64% 55.03%, 65% 55.12%, 66% 55.25%, 67% 55.43%, 68% 55.66%, 69% 55.94%, 70% 56.27%, 71% 56.64%, 72% 57.06%, 73% 57.53%, 74% 58.04%, 75% 58.59%, 76% 59.18%, 77% 59.81%, 78% 60.48%, 79% 61.19%, 80% 61.93%, 81% 62.70%, 82% 63.50%, 83% 64.34%, 84% 65.19%, 85% 66.08%, 86% 66.98%, 87% 67.91%, 88% 68.85%, 89% 69.81%, 90% 70.78%, 91% 71.77%, 92% 72.76%, 93% 73.75%, 94% 74.75%, 95% 75.75%, 96% 76.75%, 97% 77.74%, 98% 78.73%, 99% 79.71%, 100% 80.67%);
    }

  }

  .ExpanderSection
  {
    display: none;
    width: 85vw;
    height: 37vh;
    color: $off-white;
    position: fixed;
    bottom: 0;
    left: 5vw;
    margin: 50px;
    z-index: 1;
    @media screen and (min-width: $layout-desktop) {
      display: block;
    }
    .cours-details
    {
      height: 100%;
      width: 100%;
      background-color: #248ea680;
      border: $hover-border;
      border-color: rgb(6, 127, 207);
      border-radius: $coin-ronds;
      padding: 20px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(60px);
      box-shadow: 0 0 100px 20px rgb(32, 32, 32);

      *
      {
        border: 1px solid red;

      }
      .cours
      {
        &-carrousel
        {
          width: 50%;
          height: 100%;
        }
        
        &-description
        {
          overflow: auto;
          
          h3:first-of-type {
            font-size: 2rem;
            padding: 0 1rem 1rem 1rem;

          }
          h3 {
            margin: 0;
            padding: 0.5rem 1rem;
          }
          width: 65%;
          height: 100%;
          margin: 0 25px;
          padding: 20px;
          border-radius: $coin-ronds;
          outline: 3px dotted $couleur-quinaire;


          p
          {
            // max-height: calc(50vh - 5rem);
            padding: 0rem 1rem;
            // height: 90%;
            margin: 0;
          }
        }

        &-projets-relies
        {
          width: 20%;
        }
      }
    }

    .cours-projets-relies
    {
      display: none;
    }

    .fermerSection{
      z-index: 2;
      width: 50px;
      height: 50px;
      position: absolute;
      margin: 20px;
      top: 0;
      right: 0;
      display: flex;
      flex-flow: column;
      &:hover{
          cursor: pointer;
          .bar:nth-child(1) {
              outline: $hover-border;
              outline-width: 3px;
              transform: scale(1.1);
          }
          .bar:nth-child(3) {
              outline: $hover-border;
              outline-width: 3px;
              transform: scale(1.1);
          }
          
      }
      .bar {
          // transition: outline 0.1s ease-in-out;
          pointer-events: none;
          width: 100%;
          height: 33%;
          background-color: white;
          filter: drop-shadow(0 0 1px #222);
          outline: $hover-border-off;
      }
      .bar:nth-child(1) {
          rotate: 45deg;
          translate: 0% 100%;
          border-radius: 5px;
      }
      .bar:nth-child(2) {
          opacity: 0;
      }
      .bar:nth-child(3) {
          rotate: -45deg;
          translate: 0% -100%;
          border-radius: 5px;
      }
      
  }
  }

  &[expanderstate="true"]
  {
    z-index: 1;
  }

  &[expanderstate="false"]
  {
    .cours-details
    {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      opacity: 0;
      margin: 0;
    }
  }
}

