$base-color: #144659;
$footer-color: #222F43;
$off-white: rgb(235, 235, 235);

$couleur-primaire: #248ea6;
$couleur-secondaire: #1C5F78;
$couleur-tierce: #354B5F;
$couleur-quaternaire: #144659;
$couleur-quinaire: #CBDEE2;
$couleur-sixte: #B7cBd1;

$couleur-bouton-bleu: #52C1DA;
$couleur-bouton-jaune: #FFB800;

$couleur-scrollbar-track: #F5F5F5;
$couleur-scrollbar-thumb: #52C1DA;

$transarent: transparent;

:export {
    baseColor: $base-color;
    footerColor: $footer-color;
    offWhite: $off-white;
    transparent: $transarent;

    couleurPrimaire: $couleur-primaire;
    couleurSecondaire: $couleur-secondaire;
    couleurTierce: $couleur-tierce;
    couleurQuaternaire: $couleur-quaternaire;
    couleurQuinaire: $couleur-quinaire;
    couleurSixte: $couleur-sixte;

    couleurBoutonBleu: $couleur-bouton-bleu;
    couleurBoutonJaune: $couleur-bouton-jaune;
}