$base-color: #144659;
$off-white: rgb(235, 235, 235);

$couleur-primaire: #248ea6;
$couleur-secondaire: #1C5F78;
$couleur-tierce: #354B5F;
$couleur-quaternaire: #222F43;
$couleur-quinaire: #CBDEE2;

$couleur-bouton-bleu: #52C1DA;
$couleur-bouton-jaune: #FFB800;