@import "../Variables/Couleurs.scss";

$layout-tablette: 768px;
$layout-desktop: 992px;

$gap-grille-cours: 2rem;
$coin-ronds: 15px;


$width-dialog: 50vw;
$height-dialog: 30vh;

$hover-border: 5px solid $couleur-bouton-jaune;

$hover-border-off: 0px solid $couleur-bouton-jaune;