$base-typo-family: 'Inter', Arial , sans-serif;
$font-size-titre:                        clamp(2rem, 4vw, 5rem);
$font-size-desc-social-events:           clamp(1.5rem, 2vw, 2rem);
$font-size-desc-social-side-events:      clamp(0.75rem, 2vw, 1.5rem);
$font-size-desc-social-communaute:       clamp(1.5rem, 2vw, 1.75rem);
$font-size-desc-social-communaute-titre: clamp(2rem, 3vw, 2.5rem);
$font-size-desc-social-maisonneuve:      clamp(1.25rem, 2vw, 2.25rem);