$base-typo-family: 'Inter', Arial , sans-serif;


$font-size-titre-page:              clamp(2.25rem, 4vw, 4rem);

// Page Cours
$font-size-cours-desc:              clamp(0.75rem, 1.5vw, 1rem);

// Page Social
$font-size-social-events:           clamp(1.5rem, 2vw, 2rem);
$font-size-social-side-events:      clamp(0.75rem, 2vw, 1.5rem);
$font-size-social-communaute:       clamp(1.5rem, 2vw, 1.75rem);
$font-size-social-communaute-titre: clamp(2rem, 3vw, 2.5rem);
$font-size-social-maisonneuve:      clamp(1.25rem, 2vw, 2.25rem);