@import 'Variables/Polices.scss';
@import 'Variables/Couleurs.scss';

.Appli {
    font-family: $base-typo-family;


    // Footer des pages Cours et Projets
    main[class="PageCours"]       + footer,
    main[class="PageProjets"]     + footer
    {
        background-color: $couleur-quaternaire;
    }

    // Footer des pages Social et Enseignants
    main[class="PageSocial"]      + footer,
    main[class="PageEnseignants"] + footer
    {
        background-color: $couleur-primaire;
    }
}