@import "../Variables/Couleurs.scss";

.Ronds {
    position: fixed;
    width: 100px;
    height: 100px;
    .rond {
        border: 1px solid $couleur-primaire;
        border-radius: 50%;
    }
    .rond1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}