@import "../../../Variables/Couleurs.scss";
@import "../../../Variables/Layout.scss";

.ProjetsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .filtreProjets{
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
    }
    .filtre-impossible {
        margin: 0 2rem;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: $couleur-quinaire;
            font-size: 2.5rem;
        }
    }
    .listeProjets{
        min-height: 70vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 35px;
    }
    .CarteGlissante {
        background-color: $couleur-secondaire;
        color: $couleur-secondaire;
        button {
            border: 1px solid $couleur-secondaire;
            color: $couleur-secondaire;
            background-color: $couleur-quinaire;
        }
        .carte-glissante-projet {
            position: relative;
            width: 100%;
            height: 100%;
            .curve {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $couleur-quinaire;
                clip-path: ellipse(70% 60% at 45% 55%);
                z-index: -1;
            }
            .projet-carrousel {
                padding: 2rem 2rem 1rem 2rem;
                .image-courrante {
                    .Slide {
                        div {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
            } 
            .projet-nom {
                font-size: 1.25rem;
                margin: 0rem 2rem;
                h2 {
                    margin: 0;
                }
            }
            .projet-description {
                margin: 0rem 2rem;
            }
            .projet-auteur {
                h3 {
                    margin: 0;
                }
                p {
                    margin: 0;
                }
                margin: 0rem 2rem;
            }
            .projet-projets-relies {

            }
        }
    }

    .Dialog{
        color: $off-white;
        .Dialog-contenu{
            overflow: hidden;
            height: 75%;
            .infoProjet{
                
                background-color: $couleur-quinaire;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    color: black;
                    z-index: 1;
                    font-size: 2em;
                }
                p{
                    margin: 0;
                }
                .upperSection{
                    z-index: 1;
                    height: 60%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    .Carrousel{
                        width: 65%;
                        height: 100%;
                    }

                    .auteursProjets{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 35%;
                        height: 100%;
                        color: black;
                        b{
                            margin: 10px 0;
                            font-size: 1.5em;
                        }
                        .unAuteur{
                            height: 50px;
                            width: 150px;
                            padding: 0.5rem;
                            background-color: $couleur-secondaire;
                            border-radius: $coin-ronds;
                            margin: 10px 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.15s ease-in-out;
                            border: $hover-border-off;
                            &:hover{
                                border: $hover-border;
                            }
                        }
                    }
                }

                .sectionInfos{
                    z-index: 1;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    height: 40%;
                    width: 100%;
                    padding: 10px;
                    color: $off-white;
                    p{
                        width: 88%;
                        height: 60%;
                        margin: 0 0 0 25px;
                        padding: 10px;
                        border-radius: $coin-ronds;
                        outline: 3px dotted $couleur-secondaire;
                        span{
                            padding: 10px;
                        }
                    }
                    .coursReliesProjet{
                        width: 50%;
                        height: 75%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h4{
                            font-size: 1.2em;
                            margin: 0.5em;
                        }
                        .coursProjetLien{
                            height: 50px;
                            width: 150px;
                            padding: 0.5rem;
                            background-color: $couleur-secondaire;
                            border-radius: $coin-ronds;
                            margin: 10px 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.15s ease-in-out;
                            border: $hover-border-off;
                            &:hover{
                                border: $hover-border;
                            }
                        }
                        .listeCoursRelies{
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                        }
                    }
                }
                .curve1 {
                    z-index: 1;
                    position: absolute;
                    width:200%;
                    height: 150%;
                    background-color: $couleur-primaire;
                    transform: rotate(180deg) translateY(0);
                    clip-path: polygon(100% 0%, 0% 0% , 0% 95.00%, 1% 94.98%, 2% 94.90%, 3% 94.78%, 4% 94.60%, 5% 94.38%, 6% 94.11%, 7% 93.79%, 8% 93.42%, 9% 93.01%, 10% 92.55%, 11% 92.05%, 12% 91.51%, 13% 90.92%, 14% 90.30%, 15% 89.63%, 16% 88.93%, 17% 88.20%, 18% 87.43%, 19% 86.63%, 20% 85.81%, 21% 84.95%, 22% 84.07%, 23% 83.17%, 24% 82.25%, 25% 81.31%, 26% 80.35%, 27% 79.38%, 28% 78.40%, 29% 77.41%, 30% 76.41%, 31% 75.42%, 32% 74.42%, 33% 73.42%, 34% 72.42%, 35% 71.44%, 36% 70.46%, 37% 69.49%, 38% 68.53%, 39% 67.60%, 40% 66.68%, 41% 65.78%, 42% 64.90%, 43% 64.05%, 44% 63.23%, 45% 62.44%, 46% 61.67%, 47% 60.95%, 48% 60.25%, 49% 59.60%, 50% 58.98%, 51% 58.40%, 52% 57.86%, 53% 57.37%, 54% 56.92%, 55% 56.51%, 56% 56.16%, 57% 55.84%, 58% 55.58%, 59% 55.37%, 60% 55.20%, 61% 55.08%, 62% 55.02%, 63% 55.00%, 64% 55.03%, 65% 55.12%, 66% 55.25%, 67% 55.43%, 68% 55.66%, 69% 55.94%, 70% 56.27%, 71% 56.64%, 72% 57.06%, 73% 57.53%, 74% 58.04%, 75% 58.59%, 76% 59.18%, 77% 59.81%, 78% 60.48%, 79% 61.19%, 80% 61.93%, 81% 62.70%, 82% 63.50%, 83% 64.34%, 84% 65.19%, 85% 66.08%, 86% 66.98%, 87% 67.91%, 88% 68.85%, 89% 69.81%, 90% 70.78%, 91% 71.77%, 92% 72.76%, 93% 73.75%, 94% 74.75%, 95% 75.75%, 96% 76.75%, 97% 77.74%, 98% 78.73%, 99% 79.71%, 100% 80.67%);
                }
            }
        }
    }
}