@import "../../../Variables/Couleurs.scss";
@import "../../../Variables/Layout.scss";

.ProjetsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .filtreProjets{
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
    }
    .filtre-impossible {
        margin: 0 2rem;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: $couleur-quinaire;
            font-size: 2.5rem;
        }
    }
    .listeProjets{
        min-height: 70vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 35px;
    }
    .CarteGlissante {
        background-color: $couleur-secondaire;
        color: $couleur-secondaire;
        button {
            border: 1px solid $couleur-secondaire;
            color: $couleur-secondaire;
            background-color: $couleur-quinaire;
        }
        .carte-glissante-projet {
            position: relative;
            width: 100%;
            height: 100%;
            .curve {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $couleur-quinaire;
                clip-path: ellipse(70% 60% at 45% 55%);
                z-index: -1;
            }
            .projet-carrousel {
                padding: 2rem 2rem 1rem 2rem;
                .image-courrante {
                    .Slide {
                        div {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
            } 
            .projet-nom {
                font-size: 1.25rem;
                margin: 0rem 2rem;
                h2 {
                    margin: 0;
                }
            }
            .projet-description {
                margin: 0rem 2rem;
            }
            .projet-auteur {
                h3 {
                    margin: 0;
                }
                p {
                    margin: 0;
                }
                margin: 0rem 2rem;
            }
            .projet-projets-relies {

            }
        }
    }

    .Dialog{
        color: $off-white;
        text-shadow: 0 0 25px black;
        .Dialog-contenu{
            background-color: $couleur-primaire;
            height: 75%;
            .infoProjet{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-size: 2em;
                }
                p{
                    margin: 0;
                }
                .upperSection{
                    height: 60%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    .Carrousel{
                        width: 675px;
                        height: 100%;
                    }

                    .auteursProjets{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 30%;
                        height: 100%;
                        b{
                            margin: 10px 0;
                            font-size: 1.5em;
                        }
                        .unAuteur{
                            height: 50px;
                            width: 150px;
                            padding: 0.5rem;
                            background-color: $couleur-secondaire;
                            border-radius: $coin-ronds;
                            margin: 10px 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.15s ease-in-out;
                            border: $hover-border-off;
                            &:hover{
                                border: $hover-border;
                            }
                        }
                    }
                }

                .sectionInfos{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    height: 40%;
                    width: 100%;
                    color: $off-white;
                    p{
                        width: 50%;
                        height: 60%;
                        margin: 0 25px;
                        padding: 10px;
                        border-radius: $coin-ronds;
                        outline: 3px dotted $couleur-secondaire;
                        span{
                            padding: 10px;
                        }
                    }
                    .coursReliesProjet{
                        width: 50%;
                        height: 75%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h4{
                            font-size: 1.2em;
                            margin: 0.5em;
                        }
                        .coursProjetLien{
                            height: 50px;
                            width: 150px;
                            padding: 0.5rem;
                            background-color: $couleur-secondaire;
                            border-radius: $coin-ronds;
                            margin: 10px 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.15s ease-in-out;
                            border: $hover-border-off;
                            &:hover{
                                border: $hover-border;
                            }
                        }
                        .listeCoursRelies{
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}