@import "../../../Variables/Couleurs.scss";

.EvenementsSection {
    background-color: $couleur-secondaire;

    & > div
    {
        display: flex;
        justify-content: center;
    }

    div.contenuEvents
    {
        width: 95%;
        height: 95%;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;


        .descEvents
        {
            width: 75%;
            height: 95%;
            margin: 1%;
            padding: 1%;
            line-height: 150%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            //font-size: $font-size-social-events;
            font-size: 1.5rem;
            color: $off-white;
        }

        div.sideEvents
        {
            width: 100%;
            height: 95%;
            padding: 1%;
            margin-left: 1%;
            margin-right: 1%;
            margin-bottom: 1%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & > div
            {
                width: 100%;
                height: 100%;
                margin: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & > img
                {
                    width: 100%;
                    height: 100%;
                    background-position-x: center;
                    background-position-y: center;
                    max-width: 400px;
                    max-height: 200px;
                    min-height: 200px;
                    background-color: #999999;
                    // width: clamp(8rem 2vw 16rem);
                    // height: clamp(4.5rem 2vh 9rem);
                }

                & > p
                {
                    text-align: center;
                    //font-size: $font-size-social-side-events;
                    font-size: 1.5rem;
                    color: $off-white;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}